
/*
    BASE
*/
html {
    font-size: 10px; font-family: 'Zen Maru Gothic', sans-serif; font-weight: 400;
    background-color: #061E22;
}
@media (max-width: 740px) {
    html {
        font-size: calc(10 / 740 * 100vw);
    }
}

body {
    width: 100%;
    margin: 0;
    padding-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.2em;
    color: #061E22;
}

.wrap {
    width: 56.5rem;
    margin: 0 auto;
    padding: .5rem .5rem 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}



/*
    NOW TIME
*/
.time {
    width: 43rem;
    margin: 0 .5rem 0 0;
    padding: 0.5rem 1rem;
    background-color: #F7F7F7;
}
.time-nowtime {
    margin: -0.1em auto 0.1em;
    font-size: 10rem;
    line-height: 1em;
}
.time-nowtask {
    font-size: 1.5rem;
}



/*
    START BUTTON
*/
.start-btn {
    width: 12rem; height: 100%;
    padding: 0.5rem 1rem;
    font-size: 3.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #FAC883;
}



/*
    TODO LIST
*/
.todo {
    width: 55.5rem;
    padding: 5.5rem 0.5rem 1rem;
    position: relative;
    background-color: #F7F7F7;
}

.todo-add-btn {
    padding: 0;
    position: absolute;
    top: 0; right: 1rem; left: auto;
    display: block;
    font-size: 4rem; font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    background-color: transparent;
}

.todo-remove-btn {
    padding: 0;
    margin-right: 0.5em;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    background-color: transparent;
}

.list-content {
    padding-left: 0.5rem;
    font-size: 1.5rem;
    line-height: 2em;
}
.list-content input {
    width: 48rem;
    margin-top: -0.5em;
    font-family: 'Zen Maru Gothic', sans-serif; font-weight: 400;
    border: none;
    border-bottom: 1px solid #F7F7F7;
    background-color: #F7F7F7;
}
.list-content input:focus {
    border-bottom: 1px solid #FAC883;
}
